<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Webrtc 实验室</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        .rtc-video-push,.rtc-video-pull {
            width: 90%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container" >
        <div class="row">
            
            <div class="col-md-6">
                <div class="page-header">
                  <h3>主显示</h3>
                </div>
                <video id="rtc-video-push" class="rtc-video-push" autoplay="" controls ></video>

            </div>
            <div class="col-md-6">
                <div class="page-header">
                  <h3>辅显示</h3>
                </div>
                <div class="video-pull-section" >
                    
                </div>
                

            </div>
        </div>
        <div class="row">
            
            <div class="col-md-12" video-control-btns >
                <button type="button" class="btn btn-primary" btns-open>开启</button>
                <button type="button" class="btn btn-danger" btns-close >关闭</button>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="page-header">
                  <h3>用户<small>socket.id</small></h3>
                </div>
                <ul class="list-group" msg-show-newpeer >
                 
                </ul>

            </div>
            <div class="col-md-3">
                <div class="page-header">
                  <h3>信令</h3>
                </div>
                <ul class="list-group" msg-show-monitor >
                 
                </ul>

            </div>
            <div class="col-md-3">
                <div class="page-header" >
                  <h3>Broadcast</h3>
                </div>
                <ul class="list-group" broadcast-show-monitor>
                 
                </ul>

            </div>
        </div>

    </div>
    
</body>
<script type="text/javascript" src="jquery/jquery.min.js"></script>

<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script src="socket/socket.io.min.js"></script>
<script type="text/javascript">

    var SOCKET_HOST = '//192.168.1.103:3000';
    var PeerConnection = (window.PeerConnection ||
                    window.webkitPeerConnection00 || 
                    window.webkitRTCPeerConnection || 
                    window.mozRTCPeerConnection);
    var SessionDescription = window.RTCSessionDescription || window.mozRTCSessionDescription || window.webkitRTCSessionDescription;
    //兼容浏览器的getUserMedia写法
    var getUserMedia = (navigator.getUserMedia ||
        navigator.webkitGetUserMedia || 
        navigator.mozGetUserMedia || 
        navigator.msGetUserMedia);
    var isCaller = false;
    var localVideoStream = null;
    //使用Google的stun服务器
    var iceServer = {
    "iceServers": [{
            "url": "stun:stun.services.mozilla.com"
        }]
    };

    var videoPeerPCMap = {};



    window.socket = io.connect(SOCKET_HOST);

    socket.on('connect', function(o){
        console.log('socket id', socket.id); 
        videoPeerPCMap[socket.id] = VideoPeer();
    });
    socket.on('disconnect', function(o){
        console.log('disconnect'); 
    })
    //告诉服务器端有用户登录
    socket.emit('msg', { socketId: socket.id});
    socket.on('msg', function(o){
        console.log('recive msg', o); 
        $('[msg-show-monitor]').append('<li class="list-group-item">'+o.content +'</li>');
    });
    socket.on('newPeer', function(o){
        console.log('recive newPeer', o); 
        // foundNewPeer(o.id);
        $('[msg-show-newpeer]').append('<li class="list-group-item">'+o.id +'</li>');
    });
    socket.on('broadcast', function(o){
        console.log('recive broadcast msg', o); 
        var content = JSON.stringify(o);;
        $('[broadcast-show-monitor]').append('<li class="list-group-item">'+content +'</li>');
    })
    

    $('body').on('click', '[btns-open]', function (){
        openVideoStream();
    })
   

    function VideoPeer (){
        //创建PeerConnection实例
        var PC = new PeerConnection(iceServer);
        //发送ICE候选到其他客户端
        PC.onicecandidate = function(event){
            console.log('pc.onicecandidate ', event);
            socket.emit("rtcmsg", {
                "event": "__ice_candidate",
                "clientId": socket.id,
                "data": {
                    "candidate": event.candidate
                }
            });
        };
        //如果检测到媒体流连接到本地，将其绑定到一个video标签上输出
        PC.onaddstream = function(event){
            console.log('pc.onaddstream', event)
            var $wrap = $(".video-pull-section");
            $wrap.append('<video class="rtc-video-pull" src="'+URL.createObjectURL(event.stream)+'" controls autoplay ></video>');
        };
        PC.oniceconnectionstatechange =  function(event) {
            console.log('pc.oniceconnectionstatechange', event)
        };
        PC.onsignalingstatechange =  function(event) {
            console.log('pc.onsignalingstatechange', event)
        };
        PC.onnegotiationneeded =  function(event) {
            console.log('pc.onnegotiationneeded', event)
        };
        return PC;
    }


   

    //处理到来的信令
    socket.on('rtcmsg',function(socketData){
        console.log('socket.rtcmsg', "client id", socketData.clientId)
        //如果是一个ICE的候选，则将其加入到PeerConnection中，否则设定对方的session描述为传递过来的描述

        var PC = videoPeerPCMap[socket.id];
        
        $('[msg-show-monitor]').append('<li class="list-group-item">'+ socketData.event +'</li>');
        if(  socketData.event === "__ice_candidate" ){
            if(socketData.data.candidate) {
                var candidate = socketData.data.candidate;
                PC.addIceCandidate(new RTCIceCandidate({
                    sdpMLineIndex: candidate.sdpMLineIndex,
                    candidate    : candidate.candidate,
                    sdpMid       : candidate.sdpMid
                }), function(){
                    console.log("pc.addIceCandidate", 'success');
                }, function(){
                    console.log("pc.addIceCandidate", 'error');
                });
            } else {
                console.log("candidate is empty");
            }
            
        } else {
            //alert(socketData.event)
            if(socketData.clientId !== socket.id && (socketData.event === "__answer" || socketData.event === "__offer")) {
                console.log("event ", socketData.event , " will setRemoteDescription, createAnswer")
                PC.setRemoteDescription(new SessionDescription(socketData.data.sdp));
                if(socketData.event === "__offer") {
                    _createAnswer(PC);
                }
                

            } 
        }
        
    });
    function _createAnswer(PC){
        var sendAnswerFn = function(answerSDP){
            PC.setLocalDescription(new SessionDescription(answerSDP));
            socket.emit('rtcmsg', { 
                "event": "__answer",
                "clientId": socket.id,
                "data": {
                    "sdp": answerSDP
                }
            });

        };
        PC.createAnswer(sendAnswerFn, function(){
            console.error(arguments);
        });
    }

    var _createOffer = function(PC){
        var sendOfferFn = function(offerSDP){
            PC.setLocalDescription(new SessionDescription(offerSDP));
            //console.log("sadfsdfsdfd");
            console.log("socket id is", socket.id)
            socket.emit('rtcmsg', { 
                "event": "__offer",
                "clientId": socket.id,
                "data": {
                    "sdp": offerSDP
                }
            });
        };

        PC.createOffer(sendOfferFn, function(){
            console.error(arguments);
        });
    };

    function openVideoStream (){
        isCaller = true;
        //获取本地的媒体流，并绑定到一个video标签上输出，并且发送这个媒体流给其他客户端
        getUserMedia.call(navigator, {
            "audio": false,
            "video": true
        }, function(stream){
            localVideoStream = stream;
            //绑定本地媒体流到video标签用于输出
            var video = document.getElementById('rtc-video-push');
            video.src = URL.createObjectURL(stream);
            //foundNewPeer(socket.id);
            
            var PC = videoPeerPCMap[socket.id];
            //向PeerConnection中加入需要发送的流
            PC.addStream(localVideoStream);
            //如果是发送方则发送一个offer信令，否则发送一个answer信令
            _createOffer(PC);
            //commitVideoStream();

        }, function(){
            console.error(arguments);
        });
    }



</script>


</html>